<div class="row">
  <% @teams.each_with_index do |teams| %>    
      <div class="tag">
        <%= team.name %>
      </div>
      <div class="tag">
        <%= team.wife_name %>
      </div>      
  <% end %>
</div>  