<div class="row">
  <% @participants.each_with_index do |participant| %>
      <div class="tag">
        <div><%= image_tag("hearts.png") %></div>
        <p><%= participant.name %></p>
      </div>
      <div class="tag">
        <div><%= image_tag("hearts.png") %></div>
        <p><%= participant.wife_name %></p>
      </div>
  <% end %>
</div>