/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

/* TAG */
#printable-tag .row {
  display: block;
}
.tag {
  margin: 0 21px 0 0;
  border: 1px solid;
  width: 252px;
  height: 90px;
  float: left;
}
.tag div {
  text-align: center;
  margin-top: 10px;
}
.tag p {
  text-align: center;
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}
/* END OF TAG */


/* NAME TAG */
.name_tag {
  border: 1px solid;
  width: 337.82px;
  height: 193.04px;
  float: left;
}
.name_tag div {
  font-size: 17px;
  margin: 10px 0 0 10px;
  font-weight: bold;
}
.name_tag p {
  text-align: center;
  margin-top: 45px;
  font-size: 30px;
  font-weight: bold;
}
/* END OF NAME TAG */