<div class="row">
  <% @people.each do |person| %>
    <div class="name_tag">
      <div>
        <%= image_tag("hearts.png") %>
        44ยบ ECC - Maranata
      </div>
      <p><%= person.name %></p>
    </div>
    <div class="name_tag">
      <div>
        <%= image_tag("hearts.png") %>
        44ยบ ECC - Maranata
      </div>
      <p><%= person.wife_name %></p>
    </div>
  <% end %>
</div>