<input type="button" value="Imprimir" onclick="window.print()" id="printButton"/>
<div id="printable">
  <div class="row">
    <% @people.each do |person| %>
      <div class="name_tag">
        <div>
          <%= image_tag("hearts.png") %>
          47ยบ ECC - Maranata
        </div>
        <p><%= person.name %></p>
      </div>
      <div class="name_tag">
        <div>
          <%= image_tag("hearts.png") %>
          47ยบ ECC - Maranata
        </div>
        <p><%= person.wife_name %></p>
      </div>
    <% end %>
  </div>
</div>